#box2{
    padding: 20px;
    margin-top: 20px;
    box-shadow: rgba(0,0,0);
    box-shadow: 1px 1px 10px;
    padding-left: 25%;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    background-color: white;
    
}
#box1{
  padding: 20px;
  margin-top: 20px;
  box-shadow: rgba(0,0,0);
  box-shadow: 1px 1px 10px;
  margin-left: 20px;
  text-align: center !important;
  background-color: white;
}
#box3{
  padding: 20px;
  margin-top: 3px;
  box-shadow: rgba(0,0,0);
  box-shadow: 1px 1px 10px;
  margin-left: 20px;
  text-align: center !important;
  background-color: rgba(162, 231, 177, 0.6);

}

.react-calendar__navigation{
  background-color: #31B04B;
}
.react-calendar__month-view__days__day--weekend {
  color: black !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
.react-calendar__tile--now {
  background: rgba(255, 0, 0, 0.363) !important;
} 


.path{
    /* stroke-dasharray: 20;
    animation: dash 5s linear; 761.486 */
    stroke: url(#gg1);
    stroke-dasharray: 190.371 761.486;
    stroke-dashoffset: 192;
    animation: dash 5s linear forwards;
}
@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  } 