.footer {
    background-color: #f5f5f5;
  }

/* .navbar {
   background-color:#f5f5f5; 
   color: rgb(131, 231, 215);
  } */
  /* .fixed-top {
   position: fixed !important;
   z-index: 1030;
}
.fixed-top.in {
   
   box-shadow: rgba(0, 0, 0, 0.11) 0 10px 16px;
   background: #fff;
} */

 #loginBtn{
     background-color: #d6f5d6;
     margin-right: 5px;
 }

 #loginBtn:hover{
     background-color: #6fdc6f;
 }

 #bannerphoto{
    margin-bottom: 62px;
    background-image: url('/cover2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    min-width: 100%;
    height: 40rem;
 }
 #bannerphoto1{
    margin-bottom: 62px;
    background-image: url('/cover1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    min-width: 100%;
    height: 25rem;
 }

 .properties3 img{
    width: 50%;
    height: 50%;
 }