
.components > li> a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* SIDEBAR */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #31B04B;
    /* background: rgba(42, 42, 42, 0.9); */
    color: #fff;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #239b4c;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #239b4c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    font-weight: 700;
    background: rgba(42, 42, 42, 0.1);
}

/* MINE */
.toogleButton{
    visibility: hidden;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #31B04B;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #31B04B;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.signout-link{
    -webkit-tap-highlight-color: transparent;
    line-height: 1.428571429;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    color: #043104;
    font-size: 15px;
    display: block;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #239b4c;
}

/* MEDIAQUERIES */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .toogleButton{
        visibility: visible;
    }
    .overlay.active{
        display: block;
        opacity: 1;
    }
    
}

