.lunchbox{
    background-color: white;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px;

}

.mealform{
    padding: 10px;
}

.table td{
    text-align: center;
}

.food-input{
    max-width: 60%;
} 
.quantity-input{
    max-width: 10%;
}
.calories-field{
    max-width: 20%;
    background-color: white !important;
    text-align: center;
    border: none;
}