.lunchbox{
    background-color: white;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px;

}

.mealform{
    padding: 10px;
}

.table td{
    text-align: center;
}

.food-input{
    max-width: 75%;
} 
.quantity-input{
    max-width: 15%;
}
.calories-field{
    min-width: 10%;
    max-width: 100px;
    text-align: center;
    border: none;
}

.table-success td{
    font-weight: 600;
    font-size: larger;
}

#ScheduleUpdateButton{
    border: none !important;
    background-color: transparent;
}

.copyMealPopUp{
    margin: 10px;
    text-align: center;
}

.addfoodBtn{
    color: #28a745;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px 5px 0px 4px !important;
    font-size: x-large;
}

.addfoodBtn:disabled{
    opacity: 0.6;
}