.lunchbox{
    background-color: white;
    min-height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px;

}

.mealform{
    padding: 10px;
}

.table td{
    text-align: center;
}

.food-input{
    max-width: 75%;
} 
.quantity-input{
    max-width: 15%;
}
.calories-field{
    min-width: 10%;
    max-width: 100px;
    text-align: center;
    border: none;
}

.table-success td{
    font-weight: 600;
    font-size: larger;
}